
# Ignore
node_modules/
scratch/
storage/
*.un~
.*.un~

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# CodeRush
.cr/

# test
coverage/
storage/

# eslint
.eslintcache

# General
.DS_Store
.AppleDouble
.LSOverride

# Local
.env
dist
.webpack
