*.log
.DS_Store
benchmarks
coverage
node_modules
scratch
dist
*.un~
.*.un~
*.code-workspace
*.VSCodeCounter
.nvim*
.eslintcache
documentation/.docusaurus
documentation/build
.DS_Store
package-lock.json
*decoy*
