*.log
.DS_Store
benchmarks
coverage
node_modules
node_*
scratch
dist
*.un~
.*.un~
*.code-workspace
*.VSCodeCounter
.nvim*
.eslintcache
documentation/.docusaurus
documentation/build
.DS_Store
*decoy*
/html
