# Documentation
documentation/.docusaurus
documentation/build

# Server
storage/

# goLLums
.claude

# Testing
benchmarks
coverage
scratch
*decoy*

# build
build

# Dependencies
node_modules
node_*

# Builds
*.tsbuildinfo
/html
dist

# IDEs and editors and OS files
*.code-workspace
*.VSCodeCounter
.DS_Store
.*.un~
*.un~
.nvim*
*.log

# Pipeline
.eslintcache